POSTGRES_DB=todolist
POSTGRES_USER=postgres
POSTGRES_PASSWORD=cambia_esto
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=cambia_esto
JWT_SECRET_KEY=cambia_esto_por_una_clave_larga
PORT=8080
